.mainbox{
  background-color: #fff;
  width: 600px;
  color: black;
  box-shadow: 0px 0px 10px 0px black;
  /* min-height: 300px; */
  margin: auto;
  border-radius: 10px;
}

body{
  background-color: black;
  color: #fff;
}